{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
              <h3><b>{{ post.title }}</b></h3>
              <h5>{{ post.author }}, <span class="w3-opacity">{{post.publish}}</span></h5>
            </div>

            <div class="w3-container">
              <p>{{ post.body}}</p>
            </div>
        </div>

        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
                <h2>{{ post.comment_set.count }} comment{{ post.comment_set.count|pluralize }}</h2>
                {% for comment in comments %}
                    <div class="comment">
                        <p class="info" >
                        Comment {{ forloop.counter }} by {{ comment.author }}
                        {{ comment.publish }}<br>
                        {{ comment.body }}
                        </p>
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                {% endfor %}
                  <h2>Add a new comment</h2>
                  <form class="form-horizontal" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in comment_form %}
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label class="control-label col-sm-1">{{ field.label_tag}}</label>
                            <div class="col-sm-11">{{ field }}</div>
                        </div>
                    {% endfor %}
                      <div class="form-group">
                          <div class="col-sm-offset-1 col-sm-11">
                              <button type="submit" class="btn btn-secondary">Add Comment</button>
                          </div>
                      </div>
                  </form>
            </div>
        </div>
{% endblock %}
